extends ./layouts/layout

block content
    h1.mt-10.fs1.text-center.text-primary Hola a todos desde pug
        span.d-block Aprendiendo Git y Github
    div.d-flex.mx-auto.justify-content-center.gap-3   
        img(src="/static/img/git.png" alt="git imagen")
        img(src="/static/img/github.png" alt="github imagen")


